cryptography==42.0.8
deta==1.2.0
Django==4.2
django-allauth==0.63.3
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
gunicorn==22.0.0
openpyxl==3.1.5
pandas==2.2.2
pydantic==2.8.2
PyMySQL==1.1.1
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
Werkzeug==3.0.3
whitenoise==6.7.0
uvicorn==0.30.1
psycopg2==2.9.3