<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/telaPequena.css') }}">
    {% extends 'base.html' %}
    {% block header %}
        <h1>{% block title %}Configurações{% endblock %}</h1>
    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="content_config_1">
            <div class="config_api">
                <section class="content_header_config">
                    <header>
                        <h1>Configuração API</h1>
                    </header>
                </section>
                <form method="post">
                    <label for="confAPI">API configurada: </label>
                    <input name="confAPI" id="confAPI" type="text" value="{{ request.form['confAPI'] }}">
                    <input type="submit" value="Save/Refresh">
                </form>
            </div>
            <div class= "vertical"></div>
            <div>
                <section class="content_header_config">
                    <header>
                        <h1>Solteiro/Noivos para geral</h1>
                    </header>
                </section>
                <form method="post">
                    <label for="menor_solteiro">Cartão fidelidade de noivos: [Congregação|N° cartão fidelidade]</label>
                    <label >Quantidade de cartões cadastrados: {{ bolas.bolasDoBingoJson.ListaMenor.__len__() }}</label>
                    <input name="menor_solteiro" id="menor_solteiro" type="text" value="{{ request.form['menor_solteiro'] }}" required>
                    <input type="submit" value="Inserir">
                </form>
            </div>
        </div>
        <hr>
        <div class="content_config_2">
            <div class="mes_ensaio">
                <section class="content_header_config">
                    <header>
                        <h1>Mês do sorteio</h1>
                    </header>
                </section>
                <form method="post">
                    <label>Escolha o mês que queira realizar o sorteio:</label>
                    <label >Quantidade de cartões cadastrados: {{ bolas.bolasDoBingoJson.ListaGeral.__len__() + bolas.bolasDoBingoJson.ListaVisitante.__len__() + bolas.bolasDoBingoJson.ListaMenor.__len__()}}</label>
                    <label >Visitantes: {{ bolas.bolasDoBingoJson.ListaVisitante.__len__() }}</label>
                    <label >Aniversantes de Casamento: {{ bolas.bolasDoBingoJson.ListaNiverCasamento.__len__() }}</label>
                    <br>
                    <select name="carregar">
                        {% for mes in bolas.bolasDoBingoJson.ListaMesSorteio %}
                            {% if bolas['bolasDoBingoJson']['MesSorteio'][0] == mes %}
                                <option selected>{{mes}}</option>
                            {% else %}
                                <option>{{mes}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Carregar">
                </form>
            </div>
            <div class= "vertical"></div>
            {% if bolas['bolasDoBingoJson']['HabilitarFilhosParaPais'][0] == 'true' %}
                {% if bolas['bolasDoBingoJson']['SelecaoEventoEspecial'][0].__str__() != '' %}
                    <div>
                        <section class="content_header_config">
                            <header>
                                <form method="post">
                                    <h1>Dinâmica de Dia dos(as) {{bolas['bolasDoBingoJson']['SelecaoEventoEspecial'][0]['plural']}}
                                    </h1>
                                </form>
                            </header>
                        </section>
                        <form method="post">
                                <label for="dinamica_mae_pai">Cartão fidelidade para a dinâmica dos(as) {{bolas['bolasDoBingoJson']['SelecaoEventoEspecial'][0]['plural']}}: [Congregação|N° cartão fidelidade]</label>
                                <label >Quantidade de cartões cadastrados: {{ bolas.bolasDoBingoJson.ListaDinamicaMaePai.__len__() }}</label>
                                <input name="dinamica_mae_pai" id="dinamica_mae_pai" type="text" value="{{ request.form['dinamica_mae_pai'] }}" required>
                                <input type="submit" value="Inserir">
                        </form>
                        {% if bolas['bolasDoBingoJson']['SelecaoListaMaePai'].__len__() > 0 %}
                            <form method="post">
                                <label>Quantidade de cartões na pendentes: {{ bolas['bolasDoBingoJson']['SelecaoListaMaePai'].__len__() }}</label>
                                {% for cartao in bolas['bolasDoBingoJson']['SelecaoListaMaePai'] %}
                                    <br>
                                    <p>
                                        <label for="selecao_lista_mae_pai">Cartão {{ cartao }}:</label>
                                        <br>
                                        <input type="checkbox" name="{{ cartao }}|0" value="0">
                                        {{ bolas['bolasDoBingoJson']['SelecaoListaMaePai'][cartao][0].split('|')[0] }}
                                        <br>
                                        <input type="checkbox" name="{{ cartao }}|1" value="1">
                                        {{ bolas['bolasDoBingoJson']['SelecaoListaMaePai'][cartao][0].split('|')[-1] }}
                                    </p>
                                {% endfor %}
                                <input type="submit" name="salvar_mae_pai" id="selecao_lista_mae_pai" value="Salvar">
                            </form>
                        {% endif %}
                    </div>
                    <div class= "vertical"></div>
                    <div>
                        <section class="content_header_config">
                            <header>
                                <form method="post">
                                    <h1>Dinâmica de {{bolas['bolasDoBingoJson']['SelecaoEventoEspecial'][1]['plural']}} e {{bolas['bolasDoBingoJson']['SelecaoEventoEspecial'][0]['plural']}}
                                        <input type="submit" name="habilitarFilhosParaPais" value="Desabilitar Modo Filhos">
                                    </h1>
                                </form>
                            </header>
                        </section>
                        <form method="post">
                            <label >Quantidade de cartões cadastrados: {{ bolas.bolasDoBingoJson.ListaDinamicaFilhosPais.__len__() }}</label>
                            <label for="dinamica_filho">Cartão fidelidade dos(as) {{bolas['bolasDoBingoJson']['SelecaoEventoEspecial'][1]['plural'].lower()}} para a dinâmica: [Congregação|N° cartão fidelidade]</label>
                            <input name="dinamica_filho" id="dinamica_filho" type="text" value="{{ request.form['dinamica_filho'] }}" required>
                            <label for="dinamica_mae">Cartão fidelidade do(a) {{bolas['bolasDoBingoJson']['SelecaoEventoEspecial'][0]['singular'].lower()}} para a dinâmica: [Congregação|N° cartão fidelidade]</label>
                            <input name="dinamica_mae" id="dinamica_mae" type="text" value="{{ request.form['dinamica_mae'] }}" required>
                            <input type="submit" value="Inserir">
                        </form>
                        {% if bolas['bolasDoBingoJson']['SelecaoListaFilhosPais'].__len__() > 0 %}
                            <form method="post">
                                <label>Quantidade de cartões na pendentes: {{ bolas['bolasDoBingoJson']['SelecaoListaFilhosPais'].__len__() }}</label>
                                {% for cartao in bolas['bolasDoBingoJson']['SelecaoListaFilhosPais'] %}
                                    <br>
                                    <p>
                                        <label for="selecao_lista_filhos_pais">Cartão {{ cartao }}:</label>
                                        {% for parente in bolas['bolasDoBingoJson']['SelecaoListaFilhosPais'][cartao] %}
                                            <br>
                                            <label for="selecao_lista_filhos_pais">
                                                {% if parente == 'pais' %}
                                                    {{bolas['bolasDoBingoJson']['SelecaoEventoEspecial'][0]['plural']}}
                                                {% else %}
                                                    {{bolas['bolasDoBingoJson']['SelecaoEventoEspecial'][1]['plural']}}
                                                {% endif %}
                                                :
                                            </label>
                                            {% for index in range(bolas['bolasDoBingoJson']['SelecaoListaFilhosPais'][cartao][parente].__len__()) %}
                                                <br>
                                                <input type="checkbox" name="{{ cartao }}|-|{{parente}}|{{index}}" value="{{index}}">
                                                {{ bolas['bolasDoBingoJson']['SelecaoListaFilhosPais'][cartao][parente][index].split('|')[0] }}
                                            {% endfor %}
                                        {% endfor %}

                                    </p>
                                {% endfor %}
                                <input type="submit" name="salvar_filhos_pais" id="selecao_lista_filhos_pais" value="Salvar">
                            </form>
                        {% endif %}
                    </div>
                {% else %}
                    <div>
                        <section class="content_header_config">
                            <header>
                                <form method="post">
                                    <h1>Dinâmica de eventos
                                    </h1>
                                </form>
                            </header>
                        </section>
                        <form method="post">
                            <label>Escolha o evento desejado:</label>
                            <br>
                            <select name="carregar_evento">
                                <option>Dia das Mães</option>
                                <option>Dia dos Pais</option>
                                <option>Dia dos Avós</option>
                            </select>
                            <input type="submit" value="Carregar">
                        </form>
                    </div>
                {% endif %}
            {% else %}
                <div>
                    <section class="content_header_config">
                        <header>
                            <form method="post">
                                <h1>Dinâmica de Casais
                                    <input type="submit" name="habilitarFilhosParaPais" value="Habilitar Modo Filhos">
                                </h1>
                            </form>
                        </header>
                    </section>
                    <form method="post">
                        <label for="dinamica">Cartão fidelidade para a dinâmica do grupo: [Congregação|N° cartão fidelidade]</label>
                        <label >Quantidade de cartões cadastrados: {{ bolas.bolasDoBingoJson.ListaDinamica.__len__() }}</label>
                        <input name="dinamica" id="dinamica" type="text" value="{{ request.form['dinamica'] }}" required>
                        <input type="submit" value="Inserir">
                    </form>
                </div>
            {% endif %}
        </div>
        <hr>
        <div class="content_config_3">
            <section class="content_header_config">
                <header>
                    <h1>Ensaio de Casais
                    </h1>
                </header>
            </section>
            <form method="post">
                    <p> Dia de ensaio?
                        {% if bolas['bolasDoBingoJson']['HabilitarEnsaio'][0] == 'true' %}
                            <input type="submit" name="habilitarEnsaio" value="Desabilitar Modo Ensaio">
                        {% else %}
                            <input type="submit" name="habilitarEnsaio" value="Habilitar Modo Ensaio">
                        {% endif %}
                    </p>
            </form>
            <form method="post">
                    {% if bolas['bolasDoBingoJson']['HabilitarEnsaio'][0] == 'true' %}
                        <label>Quantidade de cartões cadastrados: {{ bolas['bolasDoBingoJson']['ListaEnsaio'].__len__() }}</label>
                        <p>
                            <br><br>
                            Desabilitar Congregação:
                            <br><br>
                            {% if bolas['bolasDoBingoJson']['HabilitarListaAlameda'][0] == 'true' %}
                                <input type="checkbox" name="des_alameda" value="alameda">
                            {% else %}
                                <input type="checkbox" name="des_alameda" value="alameda" checked>
                            {% endif %}
                            Alamedas ({{ bolas['bolasDoBingoJson']['ListaEnsaioAlameda'].__len__() }})

                            {% if bolas['bolasDoBingoJson']['HabilitarListaJardimCopa1'][0] == 'true' %}
                                <input type="checkbox" name="des_jdcopacabana1" value="jdcopacabana1">
                            {% else %}
                                <input type="checkbox" name="des_jdcopacabana1" value="jdcopacabana1" checked>
                            {% endif %}
                            Jardim Copacabana ({{ bolas['bolasDoBingoJson']['ListaEnsaioJardimCopa1'].__len__() }})

                            {% if bolas['bolasDoBingoJson']['HabilitarListaJardimCopa2'][0] == 'true' %}
                                <input type="checkbox" name="des_jdcopacabana2" value="jdcopacabana2">
                            {% else %}
                                <input type="checkbox" name="des_jdcopacabana2" value="jdcopacabana2" checked>
                            {% endif %}
                            Jardim Copacabana 2 ({{ bolas['bolasDoBingoJson']['ListaEnsaioJardimCopa2'].__len__() }})

                            {% if bolas['bolasDoBingoJson']['HabilitarListaNovaDivineia1'][0] == 'true' %}
                                <input type="checkbox" name="des_novadivineia1" value="novadivineia">
                            {% else %}
                                <input type="checkbox" name="des_novadivineia1" value="novadivineia" checked>
                            {% endif %}
                            Nova Divinéia ({{ bolas['bolasDoBingoJson']['ListaEnsaioNovaDivineia1'].__len__() }})
                            <br>
                            {% if bolas['bolasDoBingoJson']['HabilitarListaNovaDivineia2'][0] == 'true' %}
                                <input type="checkbox" name="des_novadivineia2" value="novadivineia2">
                            {% else %}
                                <input type="checkbox" name="des_novadivineia2" value="novadivineia2" checked>
                            {% endif %}
                            Nova Divinéia 2 ({{ bolas['bolasDoBingoJson']['ListaEnsaioNovaDivineia2'].__len__() }})

                            {% if bolas['bolasDoBingoJson']['HabilitarListaPiedade'][0] == 'true' %}
                                <input type="checkbox" name="des_piedade" value="piedade">
                            {% else %}
                                <input type="checkbox" name="des_piedade" value="piedade" checked>
                            {% endif %}
                            Piedade ({{ bolas['bolasDoBingoJson']['ListaEnsaioPiedade'].__len__() }})

                            {% if bolas['bolasDoBingoJson']['HabilitarListaVeneza4'][0] == 'true' %}
                                <input type="checkbox" name="des_veneza4" value="veneza4">
                            {% else %}
                                <input type="checkbox" name="des_veneza4" value="veneza4" checked>
                            {% endif %}
                            Veneza 4 ({{ bolas['bolasDoBingoJson']['ListaEnsaioVeneza4'].__len__() }})
                        </p>
                        <input type="submit" name="desabilitar_congregacao" value="Desabilitar">
                    {% endif %}
            </form>
        </div>
        <hr>
        <div>
            <form method="post">
                <input name="cancel" type="submit" value="Voltar">
            </form>
        </div>
        <hr>
        <div class="content_config_1">
            <div class="mes_ensaio">
                <section class="content_header_config">
                    <header>
                        <h1>Histórico de Sorteios</h1>
                    </header>
                </section>
                <form method="post">
                    <label>Escolha o mês que queira apagar da lista de histórico de sorteio:</label>
                    {% for mes in bolas.bolasDoBingoJson.HistoricoSorteio %}
                        <label >Quantidade de cartões sorteados no mes {{ mes }}: {{ bolas.bolasDoBingoJson.HistoricoSorteio[mes].__len__() }}</label>
                    {% endfor %}
                    <br>
                    <select name="removeHistorico">
                        {% if bolas.bolasDoBingoJson.HistoricoSorteio.__len__() > 0%}
                            {% for mes in bolas.bolasDoBingoJson.HistoricoSorteio %}
                                <option>{{mes}}</option>
                            {% endfor %}
                            <option>todos</option>
                        {% endif %}
                    </select>
                    <input name="removeHistorico" type="submit" value="Apagar">
                </form>
                <form method="post">
                        <label>Download Report - Histórico de Sorteios:</label>
                        <input name="reportHistorico" type="submit" value="Download Report">
                </form>
            </div>
            <div class= "vertical"></div>
            <div>
                <section class="content_header_config">
                <header>
                    <h1>Report</h1>
                    <form method="post">
                        <label>Download Report - Usuários e meses:</label>
                        <input name="report" type="submit" value="Download Report">
                    </form>
                </header>
            </section>
            </div>


        </div>
    {% endblock %}
</body>
</html>