{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'cultoparafamilia/css/cultoparafamilia.css' %}">
    <link rel="stylesheet" href="{% static 'cultoparafamilia/sorteiofamilia/css/sorteiofamilia.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    {% block 'head_sorteiofamilia' %}{% endblock %}
{% endblock %}

{% block 'dashboard' %}
    <div class="container" id='sorteio_view'>
        <div class="d-flex justify-content-between">
            <div>
                <span><p class="text-uppercase fs-3 titulo-sorteio">Hora do sorteio!!!</p></span>
            </div>
            <div>
                <ul class="sidebarup d-flex">
                    <li>
                        <form>{%csrf_token%}
                            <span class="btn-up none-a">
                                <i class='bx bx-reset' hx-post="{% url 'reset_view' %}" hx-vals='{"recarregar": "recarregar" }' hx-trigger="click" hx-target="#sorteio_view"></i>
                            </span>
                            <span class="tooltip">Reset</span>
                        </form>
                    </li>
                    <li>
                        <a href="{% url 'configuracoes_sorteio' %}" class="btn-up none-a">
                            <i class='bx bx-cog'></i>
                        </a>
                        <span class="tooltip tooltip-config">Configurações</span>
                    </li>
            </div>
        </div>
        <hr class="barra-hr">
        <div>
            {% include "cultoparafamilia/sorteiofamilia/partials/view_primary.html" %}
        </div>
    </div>

{% endblock %}

{% block 'script_body' %}
    <script src="{% static 'cultoparafamilia/js/cultoparafamilia.js' %}"></script>
    <script src="{% static 'cultoparafamilia/sorteiofamilia/js/sorteiofamilia.js' %}"></script>
    {% block 'script_body_sorteiofamilia' %}
    {% endblock %}
{% endblock %}
